.flex {
  display: flex;
  width: 100%;
  transition-duration: 500ms;
  transform: translateX(0px);
}
.size {
  width: 50px;
  height: 50px;
}
.size2 {
  width: 50px;
  height: 50px;
}
.reverse {
  transform: rotateZ(180deg);
}
.hovershow {
  transition: all 500ms;
  transform: scale(1.3);
}
.hoverhide {
  transition: all 500ms;
  transform: scale(1);
}
.newDiv {
  padding: 20px;
}
.biggestdiv {
  margin-top: 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.explainbar {
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.show {
  animation: show 1s;
  width: 50vw;
  height: 50vh;
  border-width: 3px;
  border-radius: 10px;
  background-color: white;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.omen {
  border-width: 3px;
  border-style: solid;
  border-color: #b6b6b9;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 60px;
}
.img1 {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: left;
  gap: 40px;
  width: 100%;
}
.title1 {
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: right;
  align-items: right;
  flex-direction: column;
  word-break: break-word;
}
.backbutton {
  margin-left: auto;
  display: block;
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}
.block {
  display: block;
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.hide {
  animation: hide 0.4s forwards;
  width: 50vw;
  height: 50vh;
  border-width: 3px;
  border-radius: 10px;
  background-color: white;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes hide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
